.vault-explorer-body {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}

.vault-explorer-tree-wrapper {
    width: 300px;
    float: left; /* add this */
    overflow-x: auto;
}

.vault-explorer-entries-grid {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    overflow-x: auto;
    white-space: normal;
}

.button-glyphicon {
    margin-right: 10px;
}

.table-fixed {
    table-layout: fixed;
}

label.required:after {
    content: "*";
    color: red;
}

.password-column {
    width: 400px;
}

.actions-column {
    width: 100px;
}


.padding-reset {
    padding: 0px;
}

.vault-explorer-entries-table-wrapper {
    min-width: 860px;
}

.notifyjs-corner {
    z-index:99999 !important;
}