@model LoginIndexViewModel

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Login to your Vault</div>
                @*<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>*@
            </div>

            <div style="padding-top:30px" class="panel-body">
                <form class="form-horizontal" role="form" asp-action="Validate">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-archive"></i></span>
                        <select class="form-control" asp-for="SelectedVault" asp-items="Model.VaultNames.Select(x=> new SelectListItem() { Text = x, Value = x })"></select>
                        @*<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">*@
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" asp-for="MasterPassword" placeholder="@StringResources.MasterPassword">
                    </div>
                    <span asp-validation-for="MasterPassword" class="text-danger"></span>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-6 controls col-md-offset-5">
                            <button type="submit" class="btn btn-succ το λοτοess">@StringResources.Login</button>
                            @*<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>*@

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>