
@section Styles{
<link rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.css"  minified-auto-switch="true"/>    
}

@section Scripts {
    <script src="~/lib/jstree/src/jstree.js" asp-append-version="true" minified-auto-switch="true"></script>
    <script src="~/js/vaultExplorer/vaultExplorerIndex.js" asp-append-version="true" minified-auto-switch="true"> </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<button id="add-group-button" type="button" class="btn">@StringResources.AddGroup</button>
<button id="add-sub-group-button" type="button" class="btn" disabled>@StringResources.AddSubGroup</button>
<button id="add-entry-button" type="button" class="btn" disabled>@StringResources.AddEntry</button>
<div id="vault-tree"></div>

@*<!-- Button trigger modal -->*@
@*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>*@

@*<bootstrap-modal id="add-group-modal">
    <modal-body>
        <div 
    </modal-body>
</bootstrap-modal>*@

@*<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
                    Launch demo modal 2
                </button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>*@